.layout1 {
    display: grid;
    grid-template-columns: 3fr 1fr;
}


.products-container {
    margin-left: 200px;
    border-right: 1px solid gray;
    margin-right: 20px;
}
.input-field {
    margin-top: -45px;
}
.input-field input {
    width: 80%;
    height: 25px;
}